.dayo{
    margin-left: 350px;
    width: 2000px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow:  20px  #000;
    margin-top: 5px;
}

.menh{
    margin-left: 500px;
}




.yes{
    margin-left: 180px;
}

